body {
  margin: 0;
  padding: 0;
  margin: 0;
  background-color: #ecdbff;
  font-family: "Segoe UI";
  overflow-x: hidden;
}
div.nav{
      padding-top: 50px;
}
ul.nav {
  position: fixed;
  width: 100vw;
  background: #00316b;
  /* margin-top: -20px; */
}

ul {
  width: 80vw;
  margin: 0 auto;
  padding: 0;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

ul li:hover {
  background-color: #e91e63;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

.nav .fa {
  padding-right: 5px;
}

.toggle {
  width: 100vw;
  padding: 10px 20px;
  background-color: #001f44;
  text-align: right;
  box-sizing: border-box;
  color: #fff;
  font-size: 30px;
  display: none;
}

img {
  width:250px;
  height:250px;
  border-radius: 125px;
  margin: 200px 76%;
}

.container {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
}

.centered {
  position: absolute;
  color: blue;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro h2,
h3 {
  color: #22A39F;
}

.lead {
  color: #808080;
  font-weight: bold;
}

.left {
  width: 50%;
  text-align: justify;
  float: left;
}

.weather{
  margin-top: -45%;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}

aside.center {
  text-align: center;
  line-height: 1;
}

.line {
  line-height: 1;
}

.right {
  width: 50%;
  text-align: justify;
  float: right;
}

section.intro {
  display: inline-block;
  width: 100%;
}

.foot {
text-align-last: center;
}

ol {
  text-align: left;
  padding-left: 2px;
}

ol li {
  list-style: none;
}

@media screen and (max-width:767px) {
  .toggle {
    display: block;
  }
  img {
    height: 60vh;
  }
  ul {
    width: 100%;
    display: none;
  }
  ul li {
    display: block;
    text-align: center;
    padding: 14px;
  }
  .active {
    display: block;
  }
  .centered {
    display: none;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}

























/* body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}

h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: #FFF;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
} */
